<!-- Contact Section -->
<section id="contact">
  <div class="row">
      <div class="container">
          <h2>Contact Hisentry Staff</h2>
          <p>We are here for you! If you have any questions or suggestions please let us know!</p>
          <p><a href="mailto:staff@hisentry.com">staff@hisentry.com</a>
          </p>
          <ul class="list-inline banner-social-buttons">
              <li>
                  <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
              </li>
              <li>
                  <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
              </li>
          </ul>
      </div>
  </div>
</section>