<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <h1 class="brand-heading">Hisentry</h1>
                  <p class="intro-text">Follow your musical story</p>
              </div>
          </div>
      </div>
  </div>
</header>