<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <h1 class="brand-heading">Hisentry</h1>
                  <p class="intro-text">Follow your musical story</p>
                  <%= link_to "Sign up!", new_user_registration_path, class: "btn btn-primary" %>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default"  %>
              </div>
          </div>
      </div>
  </div>
</header>