<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <h1 class="brand-heading">Hisentry</h1>
                  <p class="intro-text">Follow your musical story</p>
              </div>
          </div>
      </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>About Hisentry</h2>
          <p>Track the musical events you've assisted and upload videos, pictures, reviews and share with your friends</p>
          <p>Get to know all the statistics you've created. How many concerts have you assisted? What type of music are you more into? How many bands have you witnessed on stage?</p>
          <p>Find all the news from the most important festivals and concerts around the world. Check when your favorite band is coming to your town and more!</p>
          <p>And best of all ¡Remember all those great memories you created thanks to MUSIC!</p>
      </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>Contact Hisentry Staff</h2>
          <p>We are here for you! If you have any questions or suggestions please let us know!</p>
          <p><a href="mailto:staff@hisentry.com">staff@hisentry.com</a>
          </p>
          <ul class="list-inline banner-social-buttons">
              <li>
                  <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
              </li>
              <li>
                  <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
              </li>
          </ul>
      </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container text-center">
      <p>Copyright &copy; Hisentry 2016</p>
  </div>
</footer>