<div class="container profile">
  <div class="cover-image">
    <div class="profile-image">
      
    </div>
    <div class="user-name">Nombre</div>
    <div class="stats-container">
      <div class="eventos-n">5</div>
      <div class="elements-n">27</div>
      <div class="insignia">
      </div>
    </div>
  </div>
</div>