<div class="container profile">
  <div class="cover-image">
    <div class="profile-image">
      
    </div>
    <div class="user-name"><%= @user.username %></div>
    <div class="stats-container">
      <div class="insignia">
      </div>
    </div>
  </div>
</div>